# TODO THIS YOURSELF RUN THE COMMAND:
    # pipreqs --savepath=requirements.in && pip-compile
    # note that cmd will erase this message in this file bc it overrides the file
    # Flask-cors and gunicorn do not get auto put in here but they need to be here
#
attrs==23.1.0
    # via jsonschema
click==8.1.3
    # via flask
flask==2.2.3
    # via -r requirements.in
Flask-Cors==3.0.10
gunicorn==20.1.0
itsdangerous==2.1.2
    # via flask
jinja2==3.1.2
    # via flask
jsonschema==4.17.3
    # via -r requirements.in
markupsafe==2.1.2
    # via
    #   jinja2
    #   werkzeug
mysql-connector-python==8.0.33
    # via -r requirements.in
pyjwt==2.6.0
    # via -r requirements.in
pyrsistent==0.19.3
    # via jsonschema
werkzeug==2.2.3
    # via flask
